@using Microsoft.AspNetCore.Mvc.TagHelpers
@*@model Microsoft.Marketplace.SaasKit.Client.Models.SubscriptionResultExtensionSubscriptionResultExtension
    @{
        //ViewData["Title"] = "Home";
    }*@
<div class="container">
    <form >
        <div class="cm-panel-default mt40">
            <div class="p-3">
                <p>
                    Batch Usage records submitted to Azure successfully.
                </p>
            </div>
        </div>
        <div class="text-right">
            <button asp-controller="BatchUsageHistory" asp-action="BatchUsageHistory" class="cm-button-default mt40 text-right">Return to Batch Usage</button>
        </div>
    </form>
</div>

