@model BatchUsageHistorySearchModel
@{
    ViewData["Title"] = "BatchUsageHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/jquery-ui/style.css" rel="stylesheet" />
    <script src="~/lib/jquery-ui/jquery-1.12.4.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
</head>
<div class="text-center">
    <div class="container">
        <div class="">
            <div class="card-body ">
                <div class="text-left ">
                    <span class="cm-section-heading">Batch Usage History</span>
                </div>

                <form id="frmBatchUsageHistory">
                    <div class="row mt20">
                        <div class="col-2 text-right">@Html.Label("Uploaded Date")</div>
                        <div class="col-3 text-left">
                            @Html.TextBoxFor(model => model.UploadDate, new { @id = "datepicker", @type = "text", @Value = Model.UploadDate.ToString() })
                        </div>
                        <div class="col-2 text-right">@Html.Label("Filename")</div>
                        <div class="col-3 text-left">
                            @Html.TextBox("Filename", "", new { @class = "form-control", @Value = Model.Filename })
                        </div>
                        <input class="cm-button-bulkUploadSearch mt0" type="button" onclick="search()" value="Search" />
                    </div>
                </form>
                <div id="divProcessing" class="overlay">
                    <div class="loader">
                    </div>
                </div>
                <div id="BatchUsageHistoryModal">
                    @{await Html.RenderPartialAsync("BatchUsageHistoryList");}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#divProcessing").hide();
        $("#datepicker").datepicker();
    });


    $(document).keypress(function (e) {
        if (e.which == 13) {
            e.preventDefault()
        }
    });
    function search() {

        $("#divProcessing").show();
        var formobject = $('#frmBatchUsageHistory').serialize();
        $.ajax({
            url: 'Search',
            type: 'GET',
            data: formobject,
            cache: false,
            success: function (result) {
                $("#divProcessing").hide();
                $('#BatchUsageHistoryModal').html(result);
            },
            Error:
                function (result) {
                    $('#BatchUsageHistoryModal').html(result);
                }
        });
    }
</script>
